.cell {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: 1px solid;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}

.lesson-title {
    font-weight: 600;
    margin-bottom: 4px;
}

.lesson-group {
    font-size: 10px;
    font-weight: 500;
    opacity: .8;
}

.practice-cell {
    background-color: #f0f5ff;
}

.lecture-cell {
    background-color: #fff1f0;
}

.seminar-cell {
    background-color: #fff7e6;
}

.laboratory-cell {
    background-color: #e6f7ff;
}