.cell {
    border: 1px solid;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}

.practice-cell {
    background-color: #e6f7ff;
}

.lecture-cell {
    background-color: #fff1f0;
}

.seminar-cell {
    background-color: #fff7e6;
}