version: '2'

services:
  database:
    image: "postgres:14"  
    container_name: "postgres"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

  schedule:
    build: 
      context: ../../ExtendedSchedule
      dockerfile: Dockerfile
    container_name: "schedule"
    ports:
    - "8080:8080"
    environment:
      DATABASE_CONNECTIONADDRESS: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    depends_on:
      - database
    restart: always

  # web:
  #   container_name: "web"
  #   build:
  #     context: ../../web
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ../../web/src:/app/src
  #   environment:
  #     "REACT_APP_API_BASE_URL": "http://localhost:8080/api"
  #     "REACT_APP_GOOGLE_CLIENT_ID": "${GOOGLE_CLIENT_ID}"

  #   restart: always