version: '2'

services:
  database:
    container_name: "postgres"
    image: "postgres:14"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

  schedule:
    build: 
      context: ../../ExtendedSchedule
      dockerfile: Dockerfile
    ports:
    - "8080:8080"
    environment:
      "DATABASE_CONNECTIONADDRESS": "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    depends_on:
      - database
    restart: always

