td {
    padding: 3px;
}

.section-start-date {
    font-size: 16px;
    font-weight: bold;
}

.section-end-date {
    font-size: 14px;
    color: #a9a9a9;
}

.day-header {
    display: flex;
    flex-direction: column;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.day-header-weekday {
    font-weight: 700;
}

.day-header-date {
    font-size: 12px;
    color: #a9a9a9;
}