version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

  schedule:
    image: schedule
    container_name: schedule
    build:
      context: ../schedule
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    environment:
      DATABASE_ADDRESS: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
      DEBUG: "true"
    depends_on:
      - postgres
    restart: always
